## Kaggle Data Cleaning

In [9]:
import pandas as pd 
import numpy as np

In [10]:
data=pd.read_csv("C:/Users/HP/Desktop/DataScience/Data/1.04. Real-life example.csv")
np.random.seed(0)

In [11]:
data.head()

,Brand,Price,Body,Mileage,EngineV,Engine Type,Registration,Year,Model
0,BMW,4200.0,sedan,277,2.0,Petrol,yes,1991,320
1,Mercedes-Benz,7900.0,van,427,2.9,Diesel,yes,1999,Sprinter 212
2,Mercedes-Benz,13300.0,sedan,358,5.0,Gas,yes,2003,S 500
3,Audi,23000.0,crossover,240,4.2,Petrol,yes,2007,Q7
4,Toyota,18300.0,crossover,120,2.0,Petrol,yes,2011,Rav 4

In [23]:
missing_cells=data.isnull().sum()
missing_cells

Brand             0
Price           172
Body              0
Mileage           0
EngineV         150
Engine Type       0
Registration      0
Year              0
Model             0
dtype: int64

In [27]:
data.shape

(4345, 9)

In [29]:
total_cells=np.product(data.shape)
total_cells

39105

In [33]:

percent_missing=(missing_cells/total_cells)*100
percent_missing

Brand           0.000000
Price           0.439841
Body            0.000000
Mileage         0.000000
EngineV         0.383583
Engine Type     0.000000
Registration    0.000000
Year            0.000000
Model           0.000000
dtype: float64

In [34]:
dataset=data.copy()
dataset.head()

,Brand,Price,Body,Mileage,EngineV,Engine Type,Registration,Year,Model
0,BMW,4200.0,sedan,277,2.0,Petrol,yes,1991,320
1,Mercedes-Benz,7900.0,van,427,2.9,Diesel,yes,1999,Sprinter 212
2,Mercedes-Benz,13300.0,sedan,358,5.0,Gas,yes,2003,S 500
3,Audi,23000.0,crossover,240,4.2,Petrol,yes,2007,Q7
4,Toyota,18300.0,crossover,120,2.0,Petrol,yes,2011,Rav 4

In [35]:
dataset.isnull().sum()

Brand             0
Price           172
Body              0
Mileage           0
EngineV         150
Engine Type       0
Registration      0
Year              0
Model             0
dtype: int64

In [39]:
dataset1=data.copy()
dataset2=data.copy()
dataset3=data.copy()
dataset4=data.copy()
dataset5=data.copy()

#### Removing all the rows with missing data

In [51]:
dataset2.dropna(inplace=True)
dataset2.isnull().sum()

Brand           0
Price           0
Body            0
Mileage         0
EngineV         0
Engine Type     0
Registration    0
Year            0
Model           0
dtype: int64

#### Remove all columns with missing data

In [45]:
dataset1.dropna(axis=1,inplace=True)

In [46]:
dataset1.isnull().sum()

Brand           0
Body            0
Mileage         0
Engine Type     0
Registration    0
Year            0
Model           0
dtype: int64

### Compare rows in the datasets

In [54]:
print("Rows in original dataset:  %d \n" % data.shape[0])
print("Rows in the new dataset: %d \n" % dataset2.shape[0])

Rows in original dataset:  4345

Rows in the new dataset: 4025

#### Compare columns in the datasets

In [52]:
print("Columns in original dataset:  %d \n" % data.shape[1])
print("Columns in the new dataset: %d \n" % dataset1.shape[1])

Columns in original dataset:  9

Columns in the new dataset: 7

In [55]:
data.columns

Index(['Brand', 'Price', 'Body', 'Mileage', 'EngineV', 'Engine Type',
       'Registration', 'Year', 'Model'],
      dtype='object')

### Filling in missing data automatically

In [58]:
subset_data=data.loc[:,"Brand":"EngineV"].head()
subset_data

           Brand    Price       Body  Mileage  EngineV
0            BMW   4200.0      sedan      277      2.0
1  Mercedes-Benz   7900.0        van      427      2.9
2  Mercedes-Benz  13300.0      sedan      358      5.0
3           Audi  23000.0  crossover      240      4.2
4         Toyota  18300.0  crossover      120      2.0

### Replace all NA with 0's

In [59]:
dataset3.fillna(0)

Brand             0
Price           172
Body              0
Mileage           0
EngineV         150
Engine Type       0
Registration      0
Year              0
Model             0
dtype: int64